.columna{
    display: flex;
    justify-content: center !important;
}

.card-size{
    width: 9rem;
    height: 9rem;
}

@media only screen and (max-width: 768px) {
    .card-img-top {
        width: 100%;
    }
}


